<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <configSections>
      <section name="Microsoft.CommonDataService.Connection" type="Microsoft.CommonDataService.Configuration.ConnectionSettingsSection, Microsoft.CommonDataService.ServiceContracts" />
  </configSections>
  <Microsoft.CommonDataService.Connection>
      <Tenant>joshbooker.com</Tenant>
      <EnvironmentId>839954ba-242e-48e8-8f63-d7a91e2e8934</EnvironmentId>
      <Credentials Type="User">
          <!--<UserSource>Prompt</UserSource>-->
          <ApplicationId>deb0109a-f529-49e7-9c08-0e5a6d38d05d</ApplicationId>
          <RedirectUri>http://localhost:5000</RedirectUri>
      </Credentials>
  </Microsoft.CommonDataService.Connection>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>